 
 
  <%= form_for([@site, @site.comentarios.build()]) do |f| %>
    <div class="field">
      <%= f.text_area :content, :rows => 6, :maxlength => 240%>
    </div>
    <div class="field" style="visibility:hidden">
    <%= f.label :site_id %><br />
    <%= f.text_area :site_id, :rows=>1%>
  </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>