<div id="site">
 
  <h1><%= @site.type.name if @site.type %></h1> 

  <%= image_tag(@site.image.url, :class => 'site_image') %>

  <h3><%= @site.name %></h3> 

  <p><%=sanitize @site.description %></p>

  <p><b>Autor:</b> 
          <%= @site.user.name if @site.user %></p>
  <p><b>Latitud: </b> 
          <%= @site.latitud if @site.latitud %>   <b>Longitud: </b> 
          <%= @site.longitud if @site.longitud %>  <b>Zoom: </b> 
          <%= @site.zoom if @site.zoom %></p>

</div> 

<div class="visitas">
  <b>Visitas:</b>  <%= @site.visitas %>
</div>

<p />
<% if @site.user == current_user %>
  <%= link_to 'Edit', edit_site_path(@site) %> |
<% end %>
<br/>
<% @site.comentarios.each do |coments| %>
<br/><b><%= coments.user.name %></b>: <br/>
<%= coments.content %></br></br>
<% if coments.user == current_user %>
  <%= link_to 'Editar', edit_comentario_path(coments) %> |
  <%= link_to 'Borrar', coments, 
                    :confirm => 'Are you sure?',
                    :method => :delete %>
<% end %>
<br/>
<%end%>
<br/>
<%= link_to 'Nuevo comentario', new_site_comentario_path(@site)  %>  <%= link_to 'Back', sites_path %>
