<%= render 'mapa' %>

<div id="site">
 
  <h1><%= @site.type.name if @site.type %></h1> 

  <%= image_tag(@site.image.url, :class => 'site_image') %>

  <h3><%= @site.name %></h3> 

  <p><%=sanitize @site.description %></p>

  <p><b>Autor:</b> 
          <%= @site.user.name if @site.user %></p>
  <p><b>Latitud: </b> 
          <%= @site.latitud if @site.latitud %>   <b>Longitud: </b> 
          <%= @site.longitud if @site.longitud %>  <b>Zoom: </b> 
          <%= @site.zoom if @site.zoom %></p>

</div>
<div id="map_disp" ></div>
<div class="visitas">
  <b>Visitas:</b>  <%= @site.visitas %>
  <b>Viajes que lo visitan:</b>  <%= @site.trips.length %>
  </div>
  
<% if @site.user == current_user %>
  <%= link_to 'Edit', edit_site_path(@site) %> |
  <%= link_to 'Borrar', @site, 
                    :confirm => 'Are you sure?',
                    :method => :delete %>
<% end %>
<br/>
<% @site.comentarios.each do |coment| %>
<% if(coment.user && coment.content) %>
<br/><b><%= coment.user.name %></b>: <br/>
<%= coment.content %></br></br>
<% if coment.user == current_user %>
  <%= link_to 'Editar', edit_comentario_path(coment) %> |
  <%= link_to 'Borrar', coment, 
                    :confirm => 'Are you sure?',
                    :method => :delete %>
<% end %>
<br/>
<%end%>
<%end%>
<br/>

<div id="mete_coment">
<% if current_user %>
<h2> Añada un comentario:</h2>
<%= render "comentarios/comSite" %> 
  <% else %>
    <p>Logueese para añadir un comentario</p>
<% end %>
</div>
 <%= link_to 'Back', sites_path %>